@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-element: hsl(0, 0%, 100%); /*Light Mode Elements*/
  --clr-background: hsl(0, 0%, 98%); /*Light Mode Background*/
  --clr-input: hsl(0, 0%, 52%); /*Light Mode Input*/
  --clr-text: hsl(200, 15%, 8%); /*Light Mode Text*/

  --fs-small: 0.875rem; /*Homepage Items*/
  --fs-medium: 1rem; /*Detail Page*/
}

.dark {
  --clr-text: hsl(0, 0%, 100%);
  --clr-background: hsl(207, 26%, 17%); /*Dark Mode Background*/
  --clr-element: hsl(209, 23%, 22%); /*Dark Mode Elements*/
}

.countriesGrid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(auto, 270px));
  gap: 3rem;
  padding-inline: 3rem;
}
